@font-face {
    font-family: 'mona_lisa_solidregular';
    src: url('../fuentes/monalisasoliditc-normal-webfont.woff') format('woff2'),
         url('../fuentes/monalisasoliditc-normal-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #580f18;  
}



.tabla {
    display: table;
    max-width: 1200px;
    margin: auto;
    border: 15px groove darkgoldenrod;
    background-color: black;
}

header {
    display: table-row;
    max-width: 1200px;
    max-height: 150px;
    text-align: center;
    margin-top: 35px;
}

.titulopeli {
    max-width: 20%;
    vertical-align: middle;
    margin-top: 20px;
}

.decoracionheader {
    max-width: 18%;
    vertical-align: middle;
    margin-top: 20px;
    
}

h1 {
    color: white;
    font-family: 'Gidugu', sans-serif;
    margin: 0;
    font-weight: 400;
}

nav { 
    display: table-row;
    max-width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    background-image: url(../imagenes/telazul.jpg); 
    margin: 0;
    padding: 0;
    border-bottom: groove 10px darkgoldenrod;
    border-top: groove 10px darkgoldenrod;
}

nav li {
    display: inline-block;
    margin-left: 65px;
}

nav li a {
    display: inline-block;                           
    text-decoration: none;
    color: goldenrod;
    padding: 6px 15px;
    font-family: 'Gidugu', sans-serif;
    font-size: 29px;
    font-weight: 500;
}

nav li:hover {
    background-image: url(../imagenes/telaroja.jpg);
}

nav li:active {
    background-image: url(../imagenes/telaroja.jpg);
}

.div_desplegable{
    background-image: url(../imagenes/telazul.jpg); 
    box-shadow: 5px 8px 25px 0px rgba(0,0,0, 0.2);
    position: absolute;
    display: none;  
}

.div_desplegable a {
    padding: 9px 15px;
    color: goldenrod;
    display: block;
}

.div_desplegable a:hover {
    background-image: url(../imagenes/telaroja.jpg);
}

.div_desplegable a:active {
    background-image: url(../imagenes/telaroja.jpg);
}

.li_desplegable:hover .div_desplegable{
    display: block;
    
}

.celdacuerpo {
    display: table-cell;
    max-width: 1200px;
    max-height: 900px;
    text-align: center;
}


p {
    font-family: 'Gidugu', sans-serif;
    padding: 15px 15px;
    font-size: 28px;
    font-weight: 400;
    color: white;
}

#cita404 {
    font-family: 'Gidugu', sans-serif;
    padding: 15px 15px;
    font-size: 30px;
    font-weight: 400;
    color: white;
}

#poster4rooms {
    width: 700px;
    max-width: 700px;
}

.filatrailer {
    display: table-row;
    text-align: center;
}

iframe {
    width: 600px; 
    height: 338px;
    margin-top: 25px;
    margin-bottom: 35px;
}

#celdasinopsis {
    display: table-cell;
    width: 70%;
    vertical-align: middle;
    
    
}
#celdabotonesarr {
    display: table-cell;
    width: 30%;
    text-align: center;
    vertical-align: top;

}
#sinopsis, .sinopsishab {
    padding-left: 20px;
    padding-top: 5px;
    font-size: 27px;
    line-height: 25px;
    margin-top: 0;
    
}
#botonesarreglandose {
    padding-top: 40px;
    margin-top: 20px;
}

#titulosinopsis {                       /*atributos del h2 del TITULO de la sinopsis prinipal*/
    font-size: 40px;
    color: white;
    font-family: 'Gidugu', sans-serif;
    font-weight: 500;
    padding-left: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    
    
}

.titulossinopsis {                      /*atributos del h2 de los titulos*/
    color: white;
    font-family: 'Aref Ruqaa', serif;
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
}

.titulohabitaciones{
    display: table-row;
    width: 100%;
    text-align: center;    
}

.subtitulotraducido {
    font-size: 20px;
    font-style: italic; 
    font-family: 'Aref Ruqaa', serif;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.decorcapitulo {
    width: 30%;
    padding-top: 20px;
    padding-bottom: 0;

}

.celdaescena {
    display: table-cell;
    width: 40%;
    text-align: center;
}

.celdasinohab {
    display: table-cell;
    width: 60%;
    text-align: left;
    vertical-align: middle;
}

.escenas {
    max-width: 95%;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.fila_separacion {
    display: table-row;
    width: 100%;
    height: 60px;
}

.fila_final {
    display: table-row;
    width: 100%;
    height: 60px;
    text-align: center;  
}

.decorfinal {
    vertical-align: middle;
    width: 30%;
    padding-top: 25px;
    margin-bottom: 20px;
}

.fila_reparto {
    display: table-row;
    width: 100%;
    text-align: center;
}

.tituloreparto {
    color: white;
    font-family: 'mona_lisa_solidregular', sans-serif;
    font-size: 28px;
    font-weight: 200;
    padding: 0;
    margin: 5px;
}

#decoreparto {
    width: 27%;
    padding-top: 20px;
    padding-bottom: 0px;
}

#decoreparto2 {
    width: 27%;
    padding-top: 0px;
    padding-bottom: 20px;
}

.celda_reparto_hotel{
    display: table-cell;
    width: 400px;
    text-align: center;
    vertical-align: middle;
}

.celda_reparto_hotel a {
    text-decoration-line: none;
    color: white;
}

.celda_reparto {
    display: table-cell;
    width: 600px;
    text-align: center;
}

.celda_reparto a {
    text-decoration-line: none;
    color: white;
}

.titulos_reparto {
    color: white;
    font-family: 'Aref Ruqaa', serif;
    padding: 0;
    font-size: 21px;
}

.imagen_reparto {
    width: 40%;
}
#botones_cargado{
    width: 10%;
}
.celda_foto_actor {
    display: table-cell;
    text-align: center;
    width: 20%;
    align-content: center;
}

.celda_foto_actor [alt*="foto actor"] {
    width: 55%;
    margin-top: 40px;
    vertical-align: middle;
    box-shadow: 10px 10px 20px 5px rgba(42, 21, 163, 0.562);
}

.celda_texto_reparto {
    display: table-cell;
    width: 80%;
    text-align: left;
    vertical-align: bottom;
}

.nombre_actor {
    font-size: 40px;
    color: white;
    font-family: 'Gidugu', sans-serif;
    font-weight: 500;
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}   

h3 span {
    font-size: 30px;
}

h3 a {
    color: white;
}

.info_actor {
    font-size: 26px;
    margin-top: 0;
    line-height: 25px;
}
 .vuelta_reparto {
    position: fixed;
    bottom: 0px;
    right: 0px;
    border: groove 10px goldenrod;
    background-image: url(../imagenes/telazul.jpg);
 }

 .texto_vuelta {
    font-size: 27px;
    font-weight: 300;
    font-family: 'Gidugu', sans-serif;
    margin: 15px;
    text-decoration-line: none ;
    color: white;
 }

 footer{
    border-top: groove 10px goldenrod;
}

.celda_logo1 {
    display: table-cell;
    width: 200px;
    text-align: left; 
    vertical-align: middle;
}

.celda_footer{
    display: table-cell;
    width: 800px;
    text-align: center;
    vertical-align: middle;
}

.celda_logo2 {
    display: table-cell;
    width: 200px;
    text-align: right; 
    vertical-align: middle;
}
#logo_miramax {
    width: 55%;
    padding: 10px;
    margin-left: 25px;
}

#logo_abandapart {
    width: 45%;
    padding: 10px;
    margin-right: 25px;  
}

.texto_footer {
    font-size: 27px;
    font-weight: 300;
    font-family: 'Gidugu', sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
}

#link_Alexandre {
    color: white;
}
  